#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2vmin;
}

.ShowSkills {
  margin-left: 5vmin;
  font-size: 40px;
  background-color: goldenrod;
  color: white;
  border-radius: 50px;
  padding: 10px 40px 10px 40px;
}