.NewSkillForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.NewSkillForm label {
    font-size: 40px;
    margin: 20px;
}

.NewSkillForm input {
    font-size: 40px;
    margin-left: 20px;
}

.NewSkillForm select {
    font-size: 40px;
    margin-left: 20px;
    padding: 10px;
}

.NewSkillForm button {
    margin-left: 40px;
    font-size: 40px;
    background-color: goldenrod;
    color: white;
    border-radius: 30px;
    padding: 0 30px 0 30px;
}
