.SkillListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vmin;
    padding: 2vmin 4vmin 2vmin 4vmin;
    border: 1vmin solid orange;
    background-color: white;
    list-style: none;
    font-size: 6vmin;
    color: goldenrod;
}

.SkillListItem div {
    margin-left: 5vmin;
    background-color: goldenrod;
    color: white;
    border-radius: 50px;
    padding: 10px 40px 10px 40px;
}